.header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "headerPrincipal headerPrincipal headerPrincipal"
    "headerImagen headerImagen headerImagen"
    ;

    .headerPrincipal{
        grid-area: headerPrincipal;
        display: flex;
        width: 100%;
        height: 115px;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 2px solid $naranja;
        position: absolute;

        .logo{
            height: 100px;
            @media(max-width:768px){
                height: 80px;
            }
        }

        ul{
            display: flex;
            flex-wrap: wrap;

            li{
                list-style: none;
                padding: 15px 20px;
                transition: all ease 0.15s;

                &:hover{
                    border-bottom: 5px solid $naranja;
                }

                &:hover a{
                    color: $naranja;
                }

                @media (max-width:1024px){
                    list-style: none;
                    padding: 0 7.5px;
                }

                @media (max-width:768px){
                    padding: 0 5px;
                }

                a{
                    @media (max-width:768px){
                        font-size: 16px;
                    }
                }
            }

            @media (max-width:425px){
                display: none;
            }
        }

        .headerInfo{
            display: flex;
            flex-direction: column;

            .infoCelular{
                padding-bottom: 7.5px;
                @extend %naranja;
            }

            .infoLugar{
                padding-top: 7.5px;
                @extend %naranja;
            }

            @media (max-width:768px){
                display: none;
            }
        }

        @media (max-width:425px){
            background-color: hsla(0,0%,100%,.4);
        }
    }

    .headerImagen{
        grid-area: headerImagen;
        background-image: url(../images/background_image5.jpg);
        background-position: center;
        background-size: cover;

        .textoPrincipal{
            background-color: hsla(0,0%,100%,.4);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 900px;
            height: 300px;
            position: relative;
            top: 60%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-left: 4px solid $naranja;
            color: $naranja;

            button{
                background-color: $azul;
                color: $naranja;
                border: 0;
                border-radius: 20px;
                width: 20%;
                height: 48px;
                font-size: 18px;
                font-weight: bold;
                transition: all ease 0.5s;

                &:hover{
                    background-color: $naranja;
                    color: $azul;
                    width: 70%;

                    @media(max-width:425px){
                        background: $naranja;
                        color: $azul;
                        width: 80%;
                    }
                }

                @media(max-width:425px){
                    background-color: $azul;
                    color: $naranja;
                    border-radius: 10px;
                    width: 40%;
                }
            }

            @media(max-width:768px){
                width: 100%;
                height: 250px;
                top: 70%;
                left: 50%;
                background-color: hsla(0,0%,100%,.4);
                color: $azul;
                border-right: 4px solid $naranja;
            }
        }

        .guia{
            position: relative;
            top: 200px;
            left: 200px;
            display: inline-block;
            @media(max-width:1024px){
                top: 175px;
                left: 50px;
            }
            @media(max-width:768px){
                top: 150px;
                left: 40px;
            }
            @media(max-width:425px){
                top: 130px;
                left: 20px;
                color: $naranja;
            }
        }

        .resaltado{
            font-weight: bold;
            color: $naranja;
        }
        
        .fs-5{
            @media(max-width:1024px){
                font-size: 1rem !important;
            }
        }

        @media(max-width:425px){
            background-image: url(../images/background_image7.jpg);
        }
    }
}
