@media(max-width:425px){
    ol, ul {
        padding-left: 0rem;
    }
    a{
        font-size: 14px!important;
    }
    .w-75 {
        width: 100%!important;
    }
    .fs-5 {
        font-size: 1rem!important;
    }
    .ancho{
        width: 100%;
    }
    .w-25 {
        width: 100%!important;
    }
}